{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'Home/fonts/font-awesome.min.css' %}">
    {% block css %} {% endblock css %}
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Kitab</a>
        <button data-toggle="collapse" data-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}">Home</a>
                </li>
            <!--
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                        href="{% url 'home' %}#about">About</a></li>-->
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                        class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}#contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="{% url 'buy' %}">Buy</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="{% url 'sell' %}">Sell</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock content %}
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"></h4>
                <p></p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Around the Web</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
                                                    role="button" href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
                                                    role="button" href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
                                                    role="button" href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle"
                                                    role="button" href="#"><i class="fa fa-dribbble fa-fw"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4"></h4>
                <p class="lead mb-0"><span></span></p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Kitab 2020</small></div>
</div>
<script src="{% static 'Home/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="{% static 'home/js/freelancer.js' %}"></script>
</body>

</html>